<div class="flex flex-col h-screen bg-slate-100">
    <div class="flex-1 grid place-content-center h-screen">
        <div class="text-center text-2xl text-red-500 font-bold">\\..--** Get RekT Noob 😈 **--..//</div>
        <div class="p-2 text-center font-bold">
            ~~ you won a medal ~~
        </div>
        <div class="text-center text-3xl">
            💩
        </div>
        <div class="p-4"></div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IVFmuKZ7IFU?start=212&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <marquee behavior="" direction="">
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
            💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥💩🔥
        </marquee>
    </div>
</div>