<div class="grid place-content-center h-screen">
    <h1>Register</h1>
    <form autocomplete="off">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-full">
            <div class="p-2">
                Register
            </div>
        </button>
    </form>
    <div class="p-4 text-base text-center">
        Already have an account? <a routerLink="../login">Login</a>
    </div>
</div>