<div class="grid grid-flow-row p-4 place-content-center">
    <div id="topbar" class="flex flex-row-reverse">
        <button mat-raised-button color="primary">Attend</button>
    </div>
    <div id="user-detail" class="grid place-content-center p-4">
        <div>
            <h1 class="text-center">{{user?.name}}</h1>
        </div>
        <mat-card class="shadow-2xl rounded-3xl" style="border-radius: 2em;">
            <div class="flex flex-col p-4" style="height: 400px; width: 300px;">
                <div class="text-center text-3xl font-bold">
                    Token Number
                </div>
                <div class="flex-1 grid place-content-center text-9xl font-bold">
                    {{token}}
                </div>
            </div>
        </mat-card>
    </div>
    <div id="user-list" *ngIf="!employeesLoading; else elseEmployeeLoading">
        <table mat-table [dataSource]="employees ?? []" class="my-8" style="width: 100%;">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> number </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                class="hover:bg-green-300 hover:scale-105 transition-all">
            </tr>
        </table>
    </div>
    <ng-template #elseEmployeeLoading>
        <div>
            <mat-progress-spinner></mat-progress-spinner>
        </div>
    </ng-template>
</div>